.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;

  main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5; /* Asegurarse de que el fondo sea uniforme */
  }

  .login-main {
    justify-content: center;
    align-items: center;
  }
}
